# ISOFORGE GRUB
# Created by IMJCDEV
set timeout=5
set default=0

insmod test
insmod regexp
insmod all_video
insmod gfxterm
insmod gfxmenu
insmod png
insmod jpeg
insmod video
insmod video_fb

set gfxmode=auto
set gfxpayload=keep
search --label ISOFORGE --set=root
set theme=/boot/grub/themes/isoforge/theme.txt
terminal_output gfxterm

submenu "ISOs" {
    insmod all_video
    insmod gfxterm
    insmod png
    set gfxmode=auto
    terminal_output gfxterm
    set theme=/boot/grub/themes/isoforge/theme.txt

    search --label STORAGE --set=storage
    for isofile in ($storage)/ISOs/*.iso; do
        regexp -s 1:filename "^.*/(.*)" "$isofile"
        menuentry "$filename" "$isofile" {
            set isofile=$2
            loopback loop ($storage)$isofile
            chainloader (loop)/efi/boot/bootx64.efi
        }
    done

    menuentry "< Back" {
        configfile ($root)/boot/grub/grub.cfg
    }
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}